h2 {
    text-align: center;
    color: #404040;
}

.botkit {
    margin: 0 auto;
    padding: 20px;
    width: 800px;
    min-height: 300px;
    background-color: rgba(242, 242, 242, 0.5);
    border-radius: 10px;
    position: relative;
}

.message-content {
    margin: 10px 0;
    min-height: 20px;
}

.conversation {
    display: inline-block;
    max-width: 85%;
    padding: 7px 13px;
    border-radius: 15px;
    color: #595a5a;
    background-color: #ebebeb;
}

.message {
    text-align: left;
    animation: left-right-move .5s;
}

.user-message {
    text-align: right;
    animation: right-left-move .5s;
}

.botkit-options {
    animation: left-right-move .5s;
}

.botkit-options button {
    border: 0;
    color: #fff;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 4px;
    background: #777979;
    box-shadow: 2px 3px 4px 0 rgba(0,0,0,.25);
    cursor: pointer;
    margin: 0 10px;
}

.botkit-enter {
    margin: 10px auto;
    width: 850px;
}

.input-wrap {
    width: 100%;
    height: 32px;
}

.input-group {
    display: flex;
}

.input {
    border: 1px solid #dcdee2;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 28px;
    line-height: 1.5;
    padding: 4px 7px;
    font-size: 14px;
    color: #515a6e;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: text;
    transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
}

.input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45,140,240,.2);
}

.input:focus, .input:hover {
    border-color: #57a3f3;
}

.input-group-append {
    height: 28px;
    border: 1px solid #2b85e4;
    border-left: 0;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 4px 7px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    background: #2b85e4;
    cursor: pointer;
}


@keyframes left-right-move {

  from {
        transform: translateX(-15px);
        opacity: 0;
    }

  to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right-left-move {

  from {
        transform: translate(15px);
        opacity: 0;
    }

  to {
        transform: translateX(0);
        opacity: 1;
    }
}